<!-- https://www.codecademy.com/learn/learn-flask-jinja2-templates-and-forms/modules/flask-jinja2-templates-and-forms/cheatsheet -->
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diet records</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="flex-space-between">
        <h1>Diet records</h1>
        <a class="button" href="{{url_for('logout')}}">Sair</a>
    </div>
    <p>{{current_user.name}} bem-vindo!</p>

    <table>
        <tr>
            <th class="col-dt">Dt</th>
            <th class="col-name">Nome</th>
            <th class="col-descr">Desc.</th>
            <th class="col-ondiet">Faz parte?</th>
            <th class="col-action"><a class="button" href="{{url_for('add_record')}}">Adicionar</a></th>
        </tr>
        {% for m in current_user.meals %}
        <tr>
            <td>{{m.dt}}</td>
            <td>{{m.name}}</td>
            <td>{{m.description}}</td>
            <td>
                {% if m.onDiet %}
                <input type="checkbox" disabled checked>
                {% else %}
                <input type="checkbox" disabled>
                {% endif %}
            </td>
            <td>
                <a class="button" href="{{url_for('edit_record', id=m.id)}}">Editar</a>
                <a class="button" href="{{url_for('delete_record', id=m.id)}}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>