
.button, button {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px blue solid;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

button[type='submit'] {
    background-color: blue;
    color: white;
}

.button:hover, button:hover{
    color: white;
    font-weight: bold;
    background-color: lightblue;
}

.form, form {
    width: 33%;
    margin: auto;

    input, textarea {
        display: block;
        margin: 5px 0;
        width: 100%;
    }

    input[type="checkbox"] {
        width: auto;
    }

    .actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }

    .err-msg {
        color: red;
        font-size: small;
    }
}

table {
    width: 100%;
    tr {
        th, td {
            border: 1px solid #ccc;
            border-collapse: collapse;
            height: 36px;
        }

        .col-dt {
            width: 100px;
        }
        /* .col-name {}
        .col-descr {} */
        .col-ondiet { width: 100px; }
        .col-action { width: 200px; }
    }
}

.flex {
    display: flex;
    align-items: center;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}